

.historyItemContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    height:5vh;
    align-items: center;
}

.historyItemLeftContainer {
    width: 50%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.historyItemLeftContainer h1 {
    font-size: 0.8rem;
}

.historyItemLeftContainer p {
    font-weight: bolder;
    color: white;
}

.historyItemRightContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.historyItemRightContainer p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0.5rem
}

.historyRoundButtonContainer {
    display: flex;
    margin: 0 0.5rem
}