
p {
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
  color: white;
  font-weight: bold;
  margin: 0;
}

body {
  background-image: url('./assets/img/bg-dark.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.containerDark {
  display:flex;
  justify-content: center;
}

.subContainer {
  height: auto;
  width: 50%;
  display:flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.searchContainer {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.inputContainer {
  width: calc(100% - 2vw);
  height: calc(8vh - 1vw);
}

.blankContainer {
  width: 2vh;
  margin: 0 1rem;
}

.buttonContainer {
  width: calc(12% - 2vw);
  height: calc(8vh - 1vw);
}

.notFoundContainer {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  padding: 0.5rem;
  border-style: solid;
  border-width: thin;
  border-color: red;
  background-color:  #ffcccc;

  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.notFoundContainer p {
  color: black
}

.displayContainer {
  border-radius: 1.5rem;
  margin-top: 8rem;
  padding: 2rem;
  flex-direction: column;
  z-index: 2;
}

.displayTop {
  display: flex;
  flex-direction: row;
}

.topLeft {
  width: 50%
}

.topRight {
  height: 10vw;
  width: 10vw;
  background-image: url('./assets/img/sun.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  position: absolute;
  top: 10vh;
  right: 26vw;
}

.infoSecondRowContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.highest {
  margin-right: 5px;
}

.infoThirdRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.location p {
  font-weight: bolder;
}

.displayBottom {
  border-radius: 1.5rem;
  /* background-color: rgba(26, 26, 26, 0.3); */
  padding: 1.5rem;
  margin-top: 1rem;
}

.historyItemWrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historyItemSubWrapper {
  border-radius: 1.5rem;
  width: 100%;
  margin: 0.5rem;
  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 375px) {
  p {
    font-size: calc(1.2rem/2.5);
  }
  
  h1 {
    font-size: calc(4.2rem/2.5);
  }
  .subContainer{
    width: 100%;
  }

  .topRight {
    height: calc(26vw + 20px);
    width: calc(26vw + 20px);
    top: calc(16vw + 100px);
    right: 10vw;
  }

  .inputContainer {
    width: 100%;
    height: 12vw;
  }

  .buttonContainer {
    width: 20%;
    height: 12vw;
  }
}

@media only screen and (max-width: 768px) {
  p {
    font-size: calc(1.2rem/1.6);
  }
  
  h1 {
    font-size: calc(4.2rem/1.6);
  }

  .subContainer{
    width: 100%;
  }

  .topRight {
    height: calc(32vw + 20px);
    width: calc(32vw + 20px);
    top: calc(10vw + 60px);
    right: 8vw;
  }

  .inputContainer {
    width: 100%;
    height: 12vw;
  }

  .buttonContainer {
    width: 16%;
    height: 12vw;
  }
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: calc(1.2rem/1.2);
  }
  
  h1 {
    font-size: calc(4.2rem/1.2);
  }

  .subContainer{
    width: 80%;
  }

  .topRight {
    height: calc(26vw + 20px);
    width: calc(26vw + 20px);
    top: calc(10vw + 60px);
    right: 12vw;
  }

  .inputContainer {
    width: 100%;
    height: 8vw;
  }

  .buttonContainer {
    width: 12%;
    height: 8vw;
  }
}
