p {
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
  margin: 0;
}

h1 {
  font-size: 8rem;
  color: white;
  font-weight: bold;
  margin: 0;
}

.containerDark {
  height: 100vh;
  background-image: url('./assets/img/bg-dark.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
}

.subContainer {
  height: 100vh;
  width: 50%;
  /* background-color: red; */
  display:flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.search {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
}

.inputContainer {
  width: 85%;
  height: 5vh
}

.blankContainer {
  width: 5%;
  margin: 0 0.4rem;

}

.buttonContainer {
  width: 10%;
  height: 5vh
}

.displayContainer {
  background-color: rgba(26, 26, 26, 0.3);
  border-radius: 1.5rem;
  margin-top: 10rem;
  padding: 2rem;
  flex-direction: column;
  z-index: 2;
}

.top {
  display: flex;
  flex-direction: row;
}

.topLeft {
  width: 50%
}

.topRight {
  height: 25rem;
  width: 25rem;
  background-image: url('./assets/img/sun.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  position: absolute;
  top: 10%;
  right: 25%;
}

.infoSecondRowContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.highest {
  margin-right: 5px;
}

.infoThirdRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.bottom {
  border-radius: 1.5rem;
  background-color: rgba(26, 26, 26, 0.3);
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
}

